<app-header></app-header>

<div class="main">
    <div class="title">
        <h4>Employees assigned to <span>{{employee.name}}</span> create performance</h4>
    </div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/employee']">Home</a></li>
      </ol>
    </nav>
    <div class="body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Profesion</th>
              <th scope="col">Information</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of employees">
              <td>{{employee.assignName}}</td>
              <td>{{employee.assignProfesion}}</td>
              <td>
                  <a  [routerLink]="['/employee/info/performance/',employee.idEmployeeAssign,id]" class="btn btn-info">x</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>