@import "./../../../responsible.scss";

.main{
    .title{
        text-align: center;
        padding: 2%;
        h1,a{
            color:rgb(51, 133, 109);
        }
    }

    .body{
        padding: 0 5%;
        
        

        .logo{
            width: 100%;
            img{
                width: 40px;
            }
        }
        .btn-add{
            background-color:rgb(51, 133, 109);
            color:white;
            margin-bottom: 10px;

            @include table{
                //float: none;
            }
            @include mobileGeneral{
                //flex-direction: column;
            }
        }

    }
}