.navbar{
    a{
        color:rgb(51, 133, 109)
    }

    .logout{
        float: right;
        
        a{
            background-color: rgb(51, 133, 109);
            color: white;
        }
    }
}


