<app-header></app-header>

<div class="main">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/adm']">Home</a></li>
          <li class="breadcrumb-item">Employees</li>
          <li class="breadcrumb-item active" aria-current="page">{{employee.name}}</li>
        </ol>
    </nav>

    <div class="dash">
        <div class="form" id="form-assign">
            <h3>New Assign</h3>
            <form>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Select a employee</label>
                    <select class="form-control" [(ngModel)]="selectEmployee" name="selectEmployee" id="exampleFormControlSelect1">
                      <option></option>
                      <option *ngFor="let employee of employees" value="{{employee.id}}">{{employee.name}} - {{employee.profesion}} </option>
                    </select>
                  </div>
                  <p class="error" *ngIf="msnError != ''">{{msnError}}</p>
                <a (click)="addAssingn()" class="btn">Assignments</a>
                <a (click)="cancel()" class="btn">Cancel</a>
            </form>
        </div>

        <div class="info" id="info">
            <div class="logo">
                <img class="img-logo" src="{{employee.img}}" alt="">
            </div>
            <p class="error" *ngIf="msnErrorEmployee != ''">{{msnErrorEmployee}}</p>
            <div class="personal-info">
                <div class="add-performance">
                    <a (click)="showAssignFormMobile()" class="btn mobile">Add employees to participate Mobile</a>
                    <a (click)="showAssignForm()" class="btn desktop">Add employees to participate</a>
                </div>
                <div class="add">
                    <a (click)="showPerformanceFormMobile()" class="btn mobile">Add performance Mobile</a>
                    <a (click)="showPerformanceForm()" class="btn desktop">Add performance</a>
                </div>
            </div>

            <div class="text">
                <p>{{employee.name}}</p>
                <p>{{employee.profesion}}</p>
            </div>


            <div class="mobile-employee" id="mobile-employee">
              <h3>New performance</h3>
              <form>
                  <div class="form-group">
                      <label for="exampleFormControlTextarea1">{{employee.name}} performance</label>
                      <textarea [(ngModel)]="performance.text" name="text" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      <p class="error" *ngIf="msnError != ''">{{msnError}}</p>
                  </div>
                  <a (click)="addPerformance()" class="btn">Create performance</a>
                  <a (click)="cancelMobile()" class="btn">Cancel</a>
              </form>
            </div>

            <div class="mobile-assignment" id="mobile-assignment">
              <h3>New Assign</h3>
              <form>
                  <div class="form-group">
                      <label for="exampleFormControlSelect1">Select a employee</label>
                      <select class="form-control" [(ngModel)]="selectEmployee" name="selectEmployee" id="exampleFormControlSelect1">
                        <option></option>
                        <option *ngFor="let employee of employees" value="{{employee.id}}">{{employee.name}} - {{employee.profesion}} </option>
                      </select>
                    </div>
                    <p class="error" *ngIf="msnError != ''">{{msnError}}</p>
                  <a (click)="addAssingn()" class="btn">Assignments</a>
                  <a (click)="cancelMobile()" class="btn">Cancel</a>
              </form>
            </div>

            <div class="view">
                <div class="employees">
                    <h4>Employees to participate</h4>
                    <div *ngIf="assignEmployees.length > 0">
                      <div class="performance"  *ngFor="let employee of assignEmployees">
                        <p>{{employee.name}}  -- {{employee.profesion}} </p>
                      </div>
                    </div>
                    <p class="error" *ngIf="msnErrorAssing != ''">{{msnErrorAssing}}</p>
                    <div *ngIf="assignEmployees.length == 0">
                      <p>{{employee.name}} has no assignment</p>
                    </div>
                </div>
                <div class="performances">
                    <h4>Performances</h4>

                    <div *ngIf="performances.length > 0">
                      <div class="performance"  *ngFor="let performance of performances">
                        <p>{{performance.text}}</p>
                        <small> <span>Created by: {{performance.created_by}}</span> - <span>25/06/2022</span> </small>
                      </div>
                    </div>
                    <p class="error" *ngIf="msnErrorPerformance != ''">{{msnErrorPerformance}}</p>
                    <div *ngIf="performances.length == 0">
                      <p>Register the first performance to {{employee.name}} </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="form" id="form">
            <h3>New performance</h3>
            <form>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">{{employee.name}} performance</label>
                    <textarea [(ngModel)]="performance.text" name="text" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    <p class="error" *ngIf="msnError != ''">{{msnError}}</p>
                </div>
                <a (click)="addPerformance()" class="btn">Create performance</a>
                <a (click)="cancel()" class="btn">Cancel</a>
            </form>
        </div>
    </div>
</div>